.results {
    text-align: center;
    border-style: solid;
}

.history {
    border-style: solid;
}

.forecast {
    border-style: solid;
}

.currentDay {
    border-style: solid;
}

.forecast {
    display:flex;


}


/* .temp {
    text-align: center;
}

.wind {
    text-align: center;
}

.humidity {
    text-align: center;
} */

